/* error page CSS for The-world-of-Star-Wars assignment 
    by Gabor Koncz
*/


/* 
==========================================================================
Globals
==========================================================================
*/

html {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    background-color: #151515; 
    background-image: url('/static/images/404.jpg');
    background-position-y: 200px;
    width: 80%;
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    -webkit-font-smoothing: antialiased;
    padding: 1.5%;
    box-sizing: border-box;
}


#error {
    margin-left: 370px;
    color: #aaa;
    text-align: center;
}