/* login CSS for The-world-of-Star-Wars assignment 
    by Gabor Koncz
*/


/* 
==========================================================================
Globals
==========================================================================
*/





/* 
==========================================================================
Login form
==========================================================================
*/


.modal-header, h4, .close {
      background-color: #2d2d2d;
      color:white !important;
      text-align: center;
      font-size: 30px;
  }
  .modal-footer {
      background-color: #1d1d1d;
  }