<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property="og:description"
            content="A little web application which shows data about the Star Wars universe, store visitor preferences with cookies and handle user login with sessions.">
        <meta name="apple-mobile-web-app-title" content="Star Wars">
        <link rel="icon" href="/static/images/favicon.ico">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
            integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
        <!-- Own CSS -->
        <link rel="stylesheet" href="/static/css/index.css">
        <link rel="stylesheet" href="/static/css/login.css">
        <!-- Google fonts -->
        <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
        <!-- JQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script
            src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
            crossorigin="anonymous"></script>
        <!-- Bootstrap Javascript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/a8063379b9.js"></script>
        <!-- Own Javascript -->
        <script src="/static/js/swapiApi.js" defer></script>
        <script src="/static/js/main.js" defer></script>
        <script src="/static/js/login.js" defer></script>
        <script src="/static/js/display.js" defer></script>
        <title>The world of Star Wars</title>
    </head>
    <body>

        <!-- Modal for residents -->
        <div class="modal fade" id="popUpModal" tabindex="-1" role="dialog" aria-labelledby="popUpModal">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="ModalLabel"><!-- Modal title comes here --></h4>
                    </div>
                    <div class="modal-body">

                        <!-- Residents table comes here -->

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Header -->
        <div class="jumbotron">
            <div id="sw-logo">
                <img src="/static/images/sw_logo.png">
            </div>
        </div>
            <!-- Navbar -->
            <nav class="navbar navbar-inverse">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/index">Star Wars</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/index">Planets</a></li>
                    <li><a href="#">Page 1</a></li>
                    <li><a href="#">Page 2</a></li>
                    <li><a href="#">Page 3</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user_username %}
                        <li><p> Logged in as {{ user_username }} </p></li>
                    {% else %}
                        <li><p> Not logged in </p></li>
                    {% endif %}
                    <li><a href="/register"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
                    {% if user_username %}
                        <li></li>
                    {% else %}
                        <li><a href="/login" id="myBtn"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
                    {% endif %}
                    <li><a href="/logout" id="myBtn"><span class="glyphicon glyphicon-log-out"></span> Logout </a></li>
                </ul>
            </nav>
            
        <div class="container-fluid">
            <!-- Title -->
            <div id="page-title">
                <h2>Star Wars universe planets</h2>      
                <p>A little web application which shows data about the Star Wars universe, store visitor preferences with cookies and handle user login with sessions.</p>
            </div>
            <br>
            <!-- Page swap buttons -->
            <button id="previousPage" type="button" class="btn btn-primary" data-pageNumber="1">Previous</button>
            <button id="nextPage" type="button" class="btn btn-primary" data-pageNumber="1">Next</button>
            <!-- Table -->
                <table id="swapiPlanetsTable" class="table table-hover table-responsive">
                    <thead>
                        <tr>
                            {% for header in table_headers %}
                            <th class="planetsHeader">{{ header }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody id="planetsTable">

                        <!-- Planets comes here -->

                    </tbody>
                </table>
        </div>
                                
<!-- Footer -->
        <footer>
            <div class="footer" id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                            <h3> Star wars links </h3>
                            <ul>
                                <li> <a href="http://www.starwars.com/"> StarWars.com </a> </li>
                                <li> <a href="http://www.theforce.net/"> TheForce.net </a> </li>
                                <li> <a href="https://www.starwarsnewsnet.com/"> StarWarsNews.net </a> </li>
                                <li> <a href="http://www.starwarsunderworld.com/"> StarWarsUnderworld.com </a> </li>
                            </ul>
                        </div>
                        <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Social </h3>
                    <ul class="social">
                        <li> <a href="https://www.facebook.com/StarWars"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="https://twitter.com/starwars"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="https://plus.google.com/+StarWars/posts"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="http://instagram.com/starwars"> <i class="fa fa-instagram">   </i> </a> </li>
                        <li> <a href="http://www.youtube.com/user/starwars"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
                    </div>
                </div>
            </div>
            <!--Bottom footer-->
            <div class="footer-bottom">
                <p class="text-center"> The Star Wars Universe planets Codecool 2017. by Gabor Koncz </p>
            </div>
        </footer>
    </body>
</html>
